<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->




    <span>{{ title }} app is running!</span>
    <br>

    Welcome {{ name }}

    <p>100x80 = {{ 100*80 }}</p>
   
    <p> Calling function.  {{ getTitle()}} </p>
<h3>Property Binding</h3>
    <button [disabled]="isDisabled">I am disabled</button>
    <button [disabled]="isEnabled">I am enabled</button>
    <h3 [innerText]="title"></h3>
    <p [innerText]="name"></p>

    <div class="red">Html css class</div>
    <div [className]=" 'red' ">Class binding - with Angular</div>
    <div [className]="'red size20'">Class bindig- More than one class</div>

    <div [className]="cssStringVar">Class binding - dynamically with property</div>

    <div [className]="getClass()">Class binding with function</div>

    <div [className]="hasError ? 'red' : 'green'"> Ternary operator with property</div>

    <div [className]="isError() ? 'red' : 'green'"> Ternary operator with function</div>

    <div [class.red]="true" [class.size20]="false">conditionally binding class</div>

    <div [class.red]="hasError" [class.size20]="hasError">conditionally binding class</div>

   <div [ngClass]="'red size20'"> Class bindig- ngClass directive </div>
    <div [ngClass]="{'red':false,'size20':true}">Class bindig- ngClass directive</div>
    <div [ngClass]="{'red':true,'size20':false}">Class bindig- ngClass directive</div>
    <div [ngClass]="{'red':true,'size20':true}">Class bindig- ngClass directive</div>
    <div [ngClass]="cssStringVar">Class binding - dynamically set</div>
    <div [ngClass]="cssArray">
        Class binding with css defined in Array
       </div>

       <p [style.color]="'red'">Style binding</p>
       <p [style.background-color]="'grey'">Style binding</p>
       <p [ngStyle]="{'color': 'green'}">Style binding - ngStyle</p>
       <p [style.color]="hasError ? 'red' : 'green'">Style binding - property</p>
       <p [style.color]="isError() ? 'red' : 'green'">Style binding - function</p>

       <h1> Event binding</h1>
<button (click)="clickMe()">Click Me</button>
<p>You have clicked {{clickCount}}</p>

<h3>One way binding</h3>
{{name}}
 Name    <input type="text" name="value" value={{name}}>
 After changing name,
 {{name}}
 

 <h3> Two way binding</h3>
 {{name}}
 <input type="text" name="value" [(ngModel)]="name" value={{name}}><br>
 After changing name,
 {{name}}

 

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>